<%- include('partials/header') %> 


<section id="about">
    <div class="text-center w-1/4 text-gray-50 m-auto ">
        <h1 class="h1 font-bold text-3xl">Eat to Live</h1>
        <p class="font-medium message text-xl leading-8"> We are an agro industrial company that produces and
            manufactures
            food, edibles.
            We have a strong entrepreneurial culture and we continuously work towards improving every aspect of
            our operations.</p>
    </div>
</section>

<% name.forEach(e => { %>
    <h3 class="h1 font-bold text-3xl">Your name is: <%= name %> </h3>
    <p class="font-medium message text-xl leading-8">Your gender is: <%= gender %> </p>
    <p class="font-medium message text-xl leading-8">Probablity of Name: <%= prob %> </p>

<% }) %>
    
<%- include('partials/footer') %> 